language: cpp

compiler:
  - clang
  - gcc

addons:
  apt:
    packages:
      - libusb-1.0-0-dev

before_install:
  # g++ 4.8 on linux
  - if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi

  # clang 3.4 - already with travis
  #- if [ "$CXX" == "clang++" ]; then sudo add-apt-repository -y ppa:h-rayflood/llvm; fi

  - sudo apt-get update -qq

install:
  # libusb-1 devel on linux
  - sudo apt-get install -y libusb-1.0-0-dev

  # g++ 4.8 on linux
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8"; fi

  # clang 3.4 - already with travis
  #- if [ "$CXX" == "clang++" ]; then sudo apt-get install --allow-unauthenticated -qq clang-3.4; fi
  #- if [ "$CXX" == "clang++" ]; then export CXX="clang++-3.4"; fi

before_script:
  - mkdir -p ${TRAVIS_BUILD_DIR}/build
  - mkdir -p ${TRAVIS_BUILD_DIR}/install
  - cd ${TRAVIS_BUILD_DIR}/build
  - cmake -DCMAKE_INSTALL_PREFIX:PATH=${TRAVIS_BUILD_DIR}/install ..

env:
  - PATH=${PATH}:${TRAVIS_BUILD_DIR}/install/bin LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${TRAVIS_BUILD_DIR}/install/lib

script:
  - env
  - make
  - make install
  - cd ${TRAVIS_BUILD_DIR}/install
  - alienfx -h
